@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    /* Change favorite color to match images */
    /*Green dark 190 - Green 171 - Grren Blue 200*/
    --hue-color: 190;
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 64%, 22%);
    --first-color-second: hsl(var(--hue-color), 64%, 22%);
    --first-color-alt: hsl(var(--hue-color), 64%, 15%);
    --title-color: hsl(var(--hue-color), 64%, 18%);
    --text-color: hsl(var(--hue-color), 24%, 35%);
    --text-color-light: hsl(var(--hue-color), 8%, 60%);
    --input-color: hsl(var(--hue-color), 24%, 97%);
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --white-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
    /*========== Font and typography ==========*/
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    /*========== Hover overlay ==========*/
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

.section-title h2 {
    text-transform: uppercase;
}

.section-title {
    margin: 3% 0;
}

.section-title p {
    text-transform: uppercase;
    font-weight: bold;
}

.single-team {
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 5px 5px 15px #000;
}

.team-img {
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.team-img img {
    width: 100%;
    transition: .3s;
}

.single-team:hover .team-img img {
    transform: scale(1.1);
}

.team-content {
    height: 80px;
    width: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
    bottom: 0;
    transition: all .4s;
    background: var(--first-color);
    z-index: 5;
}

.single-team:hover .team-content {
    height: 150px;
}

.team-info {
    padding: 5px 20px 5px 20px;
    transition: all .5s;
}

.single-team:hover .team-content {
    background: #000;
}

.single-team .team-content .team-info h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    margin: 5px;
}

.single-team:hover .team-info h3 {
    color: var(--white-color);
}

.team-info p {
    margin-top: 15px;
    color: var(--white-color);
}

.single-team-text p {
    margin-top: 5px;
}

.team-text {
    color: #fff;
    padding: 0 10px 5px;
}


/* ignore the code below */

.link-area {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 40px;
    background: tomato;
    z-index: 10;
}

.link-area a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.about {
    background: url(../assets/img/geko2.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-section {
    width: 55%;
    float: right;
    background-color:var(--first-color);
    padding: 140px;
    box-shadow: 13px 12px 8px rgba(0, 0, 0, 0.3);
}

.inner-section h1 {
    margin-bottom: 30px;
    font-size: 30px;
    color: var(--white-color);
    font-weight: 900;
}

.text {
    font-size: 13px;
    color: var(--white-color);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills button {
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #ecf5f5;
    color: #00999c;
    cursor: pointer;
}

.skills button:hover {
    transition: 1s;
    background-color: #000;
    color: #fff;
}

@media screen and (max-width:1200px) {
    .inner-section {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about {
        padding: 0;
    }
    .inner-section {
        padding: 60px;
    }
    .skills button {
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}